<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actionscript</key>
	<array>
		<string>as</string>
	</array>
	<key>Ada</key>
	<array>
		<string>ada</string>
		<string>adb</string>
		<string>ads</string>
		<string>a</string>
	</array>
	<key>AMPL</key>
	<array>
		<string>asm</string>
		<string>run</string>
		<string>mod</string>
		<string>dat</string>
	</array>
	<key>Apache</key>
	<array>
		<string>conf</string>
		<string>htaccess</string>
	</array>
	<key>AppleScript</key>
	<array>
		<string>scpt</string>
		<string>applescript</string>
	</array>
	<key>AWK</key>
	<array>
		<string>awk</string>
	</array>
	<key>C</key>
	<array>
		<string>c</string>
	</array>
	<key>C#</key>
	<array>
		<string>cs</string>
		<string>n</string>
	</array>
	<key>C++</key>
	<array>
		<string>cpp</string>
		<string>cxx</string>
		<string>cc</string>
	</array>
	<key>Clojure</key>
	<array>
		<string>clj</string>
	</array>
	<key>COBOL</key>
	<array>
		<string>cobol</string>
	</array>
	<key>Csound</key>
	<array>
		<string>csd</string>
		<string>orc</string>
		<string>sco</string>
	</array>
	<key>CSS</key>
	<array>
		<string>css</string>
		<string>scss</string>
	</array>
	<key>D</key>
	<array>
		<string>d</string>
	</array>
	<key>Eiffel</key>
	<array>
		<string>e</string>
	</array>
	<key>Erlang</key>
	<array>
		<string>erl</string>
		<string>hrl</string>
	</array>
	<key>F# - OCaml</key>
	<array>
		<string>edp</string>
		<string>ml</string>
		<string>fs</string>
		<string>fsi</string>
		<string>fsx</string>
		<string>ocaml</string>
	</array>
	<key>Fortran</key>
	<array>
		<string>f</string>
		<string>for</string>
		<string>f90</string>
		<string>fpp</string>
	</array>
	<key>Go</key>
	<array>
		<string>go</string>
	</array>
	<key>Groovy</key>
	<array>
		<string>groovy</string>
		<string>gvy</string>
		<string>gy</string>
		<string>gsh</string>
	</array>
	<key>Haskell</key>
	<array>
		<string>hs</string>
		<string>lhs</string>
	</array>
	<key>Header</key>
	<array>
		<string>h</string>
		<string>hh</string>
	</array>
	<key>HTML</key>
	<array>
		<string>svelte</string>
		<string>html</string>
		<string>htm</string>
		<string>xhtml</string>
		<string>shtml</string>
		<string>shtm</string>
	</array>
	<key>IDL</key>
	<array>
		<string>pro</string>
	</array>
	<key>Io</key>
	<array>
		<string>io</string>
	</array>
	<key>Java</key>
	<array>
		<string>java</string>
		<string>fx</string>
	</array>
	<key>JavaScript</key>
	<array>
		<string>js</string>
		<string>qml</string>
		<string>json</string>
	</array>
	<key>JSP</key>
	<array>
		<string>jsp</string>
	</array>
	<key>LaTeX</key>
	<array>
		<string>latex</string>
		<string>tex</string>
		<string>bib</string>
		<string>bbl</string>
	</array>
	<key>Lisp</key>
	<array>
		<string>lsp</string>
		<string>lisp</string>
	</array>
	<key>Lsl</key>
	<array>
		<string>lsl</string>
	</array>
	<key>Lua</key>
	<array>
		<string>lua</string>
	</array>
	<key>M(UMPS)</key>
	<array>
		<string>mps</string>
	</array>
	<key>Markdown</key>
	<array>
		<string>markdown</string>
		<string>md</string>
		<string>mdown</string>
		<string>mkd</string>
		<string>mdwn</string>
		<string>mdtxt</string>
		<string>mdtext</string>
	</array>
	<key>Matlab</key>
	<array>
		<string>mat</string>
		<string>mex</string>
		<string>myt</string>
		<string>grl</string>
	</array>
	<key>MEL</key>
	<array>
		<string>mel</string>
		<string>ma</string>
	</array>
	<key>MetaFont</key>
	<array>
		<string>mf</string>
		<string>mp</string>
	</array>
	<key>NEURON</key>
	<array>
		<string>hoc</string>
	</array>
	<key>Plain Text</key>
	<array>
		<string>txt</string>
		<string>text</string>
	</array>
	<key>Objective-C</key>
	<array>
		<string>m</string>
		<string>mm</string>
		<string>strings</string>
	</array>
	<key>Pascal</key>
	<array>
		<string>pas</string>
		<string>p</string>
		<string>pp</string>
	</array>
	<key>Perl</key>
	<array>
		<string>pl</string>
		<string>pm</string>
	</array>
	<key>PHP</key>
	<array>
		<string>php</string>
		<string>php3</string>
		<string>php4</string>
		<string>php5</string>
		<string>phtml</string>
		<string>phtm</string>
	</array>
	<key>Prolog</key>
	<array>
		<string>pro</string>
		<string>lgt</string>
		<string>config</string>
	</array>
	<key>Promela</key>
	<array>
		<string>.pml</string>
	</array>
	<key>Python</key>
	<array>
		<string>py</string>
		<string>pyw</string>
	</array>
	<key>R</key>
	<array>
		<string>r</string>
		<string>rmd</string>
	</array>
	<key>REBOL</key>
	<array>
		<string>reb</string>
		<string>r2</string>
		<string>r3</string>
	</array>
	<key>RHTML</key>
	<array>
		<string>rhtml</string>
	</array>
	<key>Ruby</key>
	<array>
		<string>rb</string>
	</array>
	<key>Scala</key>
	<array>
		<string>scala</string>
	</array>
	<key>Shell</key>
	<array>
		<string>sh</string>
		<string>tool</string>
	</array>
	<key>SML</key>
	<array>
		<string>sml</string>
		<string>ml</string>
	</array>
	<key>SQL</key>
	<array>
		<string>sql</string>
	</array>
	<key>SuperCollider</key>
	<array>
		<string>sc</string>
		<string>scd</string>
	</array>
	<key>Swift</key>
	<array>
		<string>swift</string>
	</array>
	<key>Tcl</key>
	<array>
		<string>tcl</string>
		<string>tk</string>
	</array>
	<key>Verilog</key>
	<array>
		<string>v</string>
		<string>vg</string>
	</array>
	<key>VHDL</key>
	<array>
		<string>vhd</string>
	</array>
	<key>XML</key>
	<array>
		<string>xml</string>
		<string>plist</string>
		<string>sgml</string>
		<string>dtd</string>
		<string>xsd</string>
		<string>xsl</string>
	</array>
</dict>
</plist>
