<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesDelim</key>
	<array/>
	<key>blocks</key>
	<array/>
	<key>charStrings</key>
	<array>
		<string>&apos;</string>
		<string>&apos;</string>
	</array>
	<key>coloringOnlyInBlocksAndTags</key>
	<false/>
	<key>keywords</key>
	<array>
		<string>auto</string>
		<string>break</string>
		<string>case</string>
		<string>char</string>
		<string>const</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>double</string>
		<string>else</string>
		<string>enum</string>
		<string>extern</string>
		<string>float</string>
		<string>for</string>
		<string>goto</string>
		<string>if</string>
		<string>inline</string>
		<string>int</string>
		<string>long</string>
		<string>register</string>
		<string>restrict</string>
		<string>return</string>
		<string>short</string>
		<string>signed</string>
		<string>sizeof</string>
		<string>static</string>
		<string>struct</string>
		<string>switch</string>
		<string>typedef</string>
		<string>union</string>
		<string>unsigned</string>
		<string>void</string>
		<string>volatile</string>
		<string>while</string>
		<string>_Bool</string>
		<string>_Complex</string>
		<string>_Imaginary</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<false/>
	<key>multiLineComments</key>
	<array>
		<string>/*</string>
		<string>*/</string>
	</array>
	<key>multiLineStrings</key>
	<array/>
	<key>predefined</key>
	<array>
		<string>NULL</string>
		<string>exit</string>
		<string>abort</string>
		<string>assert</string>
		<string>printf</string>
		<string>puts</string>
		<string>abs</string>
		<string>fabs</string>
		<string>aligned_alloc</string>
		<string>calloc</string>
		<string>malloc</string>
		<string>realloc</string>
		<string>free</string>
		<string>#include</string>
		<string>#define</string>
		<string>#undef</string>
		<string>#warning</string>
		<string>#pragma</string>
		<string>#line</string>
		<string>#error</string>
		<string>#ifdef</string>
		<string>#ifndef</string>
		<string>#endif</string>
		<string>#else</string>
	</array>
	<key>predefinedDelim</key>
	<array>
		<string>#define</string>
	</array>
	<key>singleLineComments</key>
	<array>
		<string>//</string>
	</array>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
	</array>
	<key>tags</key>
	<array/>
	<key>variablesDelim</key>
	<array/>
	<key>variablesDelimPartOfVar</key>
	<false/>
	<key>isXMLbased</key>
	<false/>
	<key>indentionBlocks</key>
	<array/>
</dict>
</plist>
