<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesDelim</key>
	<array>
		<string>=</string>
		<string>:</string>
	</array>
	<key>blocks</key>
	<array>
		<string>&lt;?php</string>
		<string>?&gt;</string>
		<string>&lt;script&gt;</string>
		<string>&lt;/script&gt;</string>
		<string>&lt;SCRIPT&gt;</string>
		<string>&lt;/SCRIPT&gt;</string>
		<string>&lt;SCRIPT type=&quot;text/javascript&quot;&gt;</string>
		<string>&lt;/SCRIPT&gt;</string>
		<string>&lt;script type=&quot;text/javascript&quot;&gt;</string>
		<string>&lt;/script&gt;</string>
		<string>&lt;script language=&quot;javascript&quot;&gt;</string>
		<string>&lt;/script&gt;</string>
	</array>
	<key>charStrings</key>
	<array/>
	<key>coloringOnlyInBlocksAndTags</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abstract</string>
		<string>and</string>
		<string>array</string>
		<string>as</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>cfunction</string>
		<string>class</string>
		<string>clone</string>
		<string>const</string>
		<string>continue</string>
		<string>declare</string>
		<string>default</string>
		<string>do</string>
		<string>else</string>
		<string>elseif</string>
		<string>enddeclare</string>
		<string>endfor</string>
		<string>endforeach</string>
		<string>endif</string>
		<string>endswitch</string>
		<string>endwhile</string>
		<string>extends</string>
		<string>FALSE</string>
		<string>final</string>
		<string>for</string>
		<string>foreach</string>
		<string>function</string>
		<string>global</string>
		<string>goto</string>
		<string>if</string>
		<string>implements</string>
		<string>interface</string>
		<string>instanceof</string>
		<string>namespace</string>
		<string>new</string>
		<string>NULL</string>
		<string>old_function</string>
		<string>or</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>static</string>
		<string>switch</string>
		<string>throw</string>
		<string>TRUE</string>
		<string>try</string>
		<string>use</string>
		<string>var</string>
		<string>while</string>
		<string>xor</string>
		<string>__CLASS__</string>
		<string>__DIR__</string>
		<string>__FILE__</string>
		<string>__FUNCTION__</string>
		<string>__LINE__</string>
		<string>__METHOD__</string>
		<string>__NAMESPACE__</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<true/>
	<key>multiLineComments</key>
	<array>
		<string>/*</string>
		<string>*/</string>
		<string>&lt;!--</string>
		<string>--&gt;</string>
	</array>
	<key>multiLineStrings</key>
	<array/>
	<key>predefined</key>
	<array>
		<string>include</string>
		<string>require</string>
		<string>haeder</string>
	</array>
	<key>predefinedDelim</key>
	<array/>
	<key>singleLineComments</key>
	<array>
		<string>//</string>
		<string>#</string>
	</array>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
		<string>&apos;</string>
		<string>&apos;</string>
	</array>
	<key>tags</key>
	<array>
		<string>&lt;</string>
		<string>&gt;</string>
	</array>
	<key>variablesDelim</key>
	<array>
		<string>$</string>
	</array>
	<key>variablesDelimPartOfVar</key>
	<true/>

	<key>isXMLbased</key>
	<false/>

	<key>indentionBlocks</key>
	<array>
	</array>
</dict>
</plist>
