<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>attributesDelim</key>
	<array>
	</array>

	<key>blocks</key>
	<array>
	</array>

	<key>charStrings</key>
	<array>
	</array>

	<key>coloringOnlyInBlocksAndTags</key>
	<false/>

	<key>keywords</key>
	<array>
		<string>ABORT</string>
<string>ABS</string>
<string>ABSOLUTE</string>
<string>ACCESS</string>
<string>ACTION</string>
<string>ADA</string>
<string>ADD</string>
<string>ADMIN</string>
<string>AFTER</string>
<string>AGGREGATE</string>
<string>ALIAS</string>
<string>ALL</string>
<string>ALLOCATE</string>
<string>ALTER</string>
<string>ANALYSE</string>
<string>ANALYZE</string>
<string>AND</string>
<string>ANY</string>
<string>ARE</string>
<string>ARRAY</string>
<string>AS</string>
<string>ASC</string>
<string>ASENSITIVE</string>
<string>ASSERTION</string>
<string>ASSIGNMENT</string>
<string>ASYMMETRIC</string>
<string>AT</string>
<string>ATOMIC</string>
<string>AUTHORIZATION</string>
<string>AVG</string>
<string>BACKWARD</string>
<string>BEFORE</string>
<string>BEGIN</string>
<string>BETWEEN</string>
<string>BIGINT</string>
<string>BINARY</string>
<string>BIT</string>
<string>BITVAR</string>
<string>BIT_LENGTH</string>
<string>BLOB</string>
<string>BOOLEAN</string>
<string>BOTH</string>
<string>BREADTH</string>
<string>BY</string>
<string>C</string>
<string>CACHE</string>
<string>CALL</string>
<string>CALLED</string>
<string>CARDINALITY</string>
<string>CASCADE</string>
<string>CASCADED</string>
<string>CASE</string>
<string>CAST</string>
<string>CATALOG</string>
<string>CATALOG_NAME</string>
<string>CHAIN</string>
<string>CHAR</string>
<string>CHARACTER</string>
<string>CHARACTERISTICS</string>
<string>CHARACTER_LENGTH</string>
<string>CHARACTER_SET_CATALOG</string>
<string>CHARACTER_SET_NAME</string>
<string>CHARACTER_SET_SCHEMA</string>
<string>CHAR_LENGTH</string>
<string>CHECK</string>
<string>CHECKED</string>
<string>CHECKPOINT</string>
<string>CLASS</string>
<string>CLASS_ORIGIN</string>
<string>CLOB</string>
<string>CLOSE</string>
<string>CLUSTER</string>
<string>COALESCE</string>
<string>COBOL</string>
<string>COLLATE</string>
<string>COLLATION</string>
<string>COLLATION_CATALOG</string>
<string>COLLATION_NAME</string>
<string>COLLATION_SCHEMA</string>
<string>COLUMN</string>
<string>COLUMN_NAME</string>
<string>COMMAND_FUNCTION</string>
<string>COMMAND_FUNCTION_CODE</string>
<string>COMMENT</string>
<string>COMMIT</string>
<string>COMMITTED</string>
<string>COMPLETION</string>
<string>CONDITION_NUMBER</string>
<string>CONNECT</string>
<string>CONNECTION</string>
<string>CONNECTION_NAME</string>
<string>CONSTRAINT</string>
<string>CONSTRAINTS</string>
<string>CONSTRAINT_CATALOG</string>
<string>CONSTRAINT_NAME</string>
<string>CONSTRAINT_SCHEMA</string>
<string>CONSTRUCTOR</string>
<string>CONTAINS</string>
<string>CONTINUE</string>
<string>CONVERSION</string>
<string>CONVERT</string>
<string>COPY</string>
<string>CORRESPONDING</string>
<string>COUNT</string>
<string>CREATE</string>
<string>CREATEDB</string>
<string>CREATEUSER</string>
<string>CROSS</string>
<string>CUBE</string>
<string>CURRENT</string>
<string>CURRENT_DATE</string>
<string>CURRENT_PATH</string>
<string>CURRENT_ROLE</string>
<string>CURRENT_TIME</string>
<string>CURRENT_TIMESTAMP</string>
<string>CURRENT_USER</string>
<string>CURSOR</string>
<string>CURSOR_NAME</string>
<string>CYCLE</string>
<string>DATA</string>
<string>DATABASE</string>
<string>DATE</string>
<string>DATETIME_INTERVAL_CODE</string>
<string>DATETIME_INTERVAL_PRECISION</string>
<string>DAY</string>
<string>DEALLOCATE</string>
<string>DEC</string>
<string>DECIMAL</string>
<string>DECLARE</string>
<string>DEFAULT</string>
<string>DEFERRABLE</string>
<string>DEFERRED</string>
<string>DEFINED</string>
<string>DEFINER</string>
<string>DELETE</string>
<string>DELIMITER</string>
<string>DELIMITERS</string>
<string>DEPTH</string>
<string>DEREF</string>
<string>DESC</string>
<string>DESCRIBE</string>
<string>DESCRIPTOR</string>
<string>DESTROY</string>
<string>DESTRUCTOR</string>
<string>DETERMINISTIC</string>
<string>DIAGNOSTICS</string>
<string>DICTIONARY</string>
<string>DISCONNECT</string>
<string>DISPATCH</string>
<string>DISTINCT</string>
<string>DO</string>
<string>DOMAIN</string>
<string>DOUBLE</string>
<string>DROP</string>
<string>DYNAMIC</string>
<string>DYNAMIC_FUNCTION</string>
<string>DYNAMIC_FUNCTION_CODE</string>
<string>EACH</string>
<string>ELSE</string>
<string>ENCODING</string>
<string>ENCRYPTED</string>
<string>END</string>
<string>END-EXEC</string>
<string>EQUALS</string>
<string>ESCAPE</string>
<string>EVERY</string>
<string>EXCEPT</string>
<string>EXCEPTION</string>
<string>EXCLUSIVE</string>
<string>EXEC</string>
<string>EXECUTE</string>
<string>EXISTING</string>
<string>EXISTS</string>
<string>EXPLAIN</string>
<string>EXTERNAL</string>
<string>EXTRACT</string>
<string>FALSE</string>
<string>FETCH</string>
<string>FINAL</string>
<string>FIRST</string>
<string>FLOAT</string>
<string>FOR</string>
<string>FORCE</string>
<string>FOREIGN</string>
<string>FORTRAN</string>
<string>FORWARD</string>
<string>FOUND</string>
<string>FREE</string>
<string>FREEZE</string>
<string>FROM</string>
<string>FULL</string>
<string>FUNCTION</string>
<string>G</string>
<string>GENERAL</string>
<string>GENERATED</string>
<string>GET</string>
<string>GLOBAL</string>
<string>GO</string>
<string>GOTO</string>
<string>GRANT</string>
<string>GRANTED</string>
<string>GROUP</string>
<string>GROUPING</string>
<string>HANDLER</string>
<string>HAVING</string>
<string>HIERARCHY</string>
<string>HOLD</string>
<string>HOST</string>
<string>HOUR</string>
<string>IDENTITY</string>
<string>IGNORE</string>
<string>ILIKE</string>
<string>IMMEDIATE</string>
<string>IMMUTABLE</string>
<string>IMPLEMENTATION</string>
<string>IMPLICIT</string>
<string>IN</string>
<string>INCREMENT</string>
<string>INDEX</string>
<string>INDICATOR</string>
<string>INFIX</string>
<string>INHERITS</string>
<string>INITIALIZE</string>
<string>INITIALLY</string>
<string>INNER</string>
<string>INOUT</string>
<string>INPUT</string>
<string>INSENSITIVE</string>
<string>INSERT</string>
<string>INSTANCE</string>
<string>INSTANTIABLE</string>
<string>INSTEAD</string>
<string>INT</string>
<string>INTEGER</string>
<string>INTERSECT</string>
<string>INTERVAL</string>
<string>INTO</string>
<string>INVOKER</string>
<string>IS</string>
<string>ISNULL</string>
<string>ISOLATION</string>
<string>ITERATE</string>
<string>JOIN</string>
<string>K</string>
<string>KEY</string>
<string>KEY_MEMBER</string>
<string>KEY_TYPE</string>
<string>LANCOMPILER</string>
<string>LANGUAGE</string>
<string>LARGE</string>
<string>LAST</string>
<string>LATERAL</string>
<string>LEADING</string>
<string>LEFT</string>
<string>LENGTH</string>
<string>LESS</string>
<string>LEVEL</string>
<string>LIKE</string>
<string>LIMIT</string>
<string>LISTEN</string>
<string>LOAD</string>
<string>LOCAL</string>
<string>LOCALTIME</string>
<string>LOCALTIMESTAMP</string>
<string>LOCATION</string>
<string>LOCATOR</string>
<string>LOCK</string>
<string>LOWER</string>
<string>M</string>
<string>MAP</string>
<string>MATCH</string>
<string>MAX</string>
<string>MAXVALUE</string>
<string>MESSAGE_LENGTH</string>
<string>MESSAGE_OCTET_LENGTH</string>
<string>MESSAGE_TEXT</string>
<string>METHOD</string>
<string>MIN</string>
<string>MINUTE</string>
<string>MINVALUE</string>
<string>MOD</string>
<string>MODE</string>
<string>MODIFIES</string>
<string>MODIFY</string>
<string>MODULE</string>
<string>MONTH</string>
<string>MORE</string>
<string>MOVE</string>
<string>MUMPS</string>
<string>NAME</string>
<string>NAMES</string>
<string>NATIONAL</string>
<string>NATURAL</string>
<string>NCHAR</string>
<string>NCLOB</string>
<string>NEW</string>
<string>NEXT</string>
<string>NO</string>
<string>NOCREATEDB</string>
<string>NOCREATEUSER</string>
<string>NONE</string>
<string>NOT</string>
<string>NOTHING</string>
<string>NOTIFY</string>
<string>NOTNULL</string>
<string>NULL</string>
<string>NULLABLE</string>
<string>NULLIF</string>
<string>NUMBER</string>
<string>NUMERIC</string>
<string>OBJECT</string>
<string>OCTET_LENGTH</string>
<string>OF</string>
<string>OFF</string>
<string>OFFSET</string>
<string>OIDS</string>
<string>OLD</string>
<string>ON</string>
<string>ONLY</string>
<string>OPEN</string>
<string>OPERATION</string>
<string>OPERATOR</string>
<string>OPTION</string>
<string>OPTIONS</string>
<string>OR</string>
<string>ORDER</string>
<string>ORDINALITY</string>
<string>OUT</string>
<string>OUTER</string>
<string>OUTPUT</string>
<string>OVERLAPS</string>
<string>OVERLAY</string>
<string>OVERRIDING</string>
<string>OWNER</string>
<string>PAD</string>
<string>PARAMETER</string>
<string>PARAMETERS</string>
<string>PARAMETER_MODE</string>
<string>PARAMETER_NAME</string>
<string>PARAMETER_ORDINAL_POSITION</string>
<string>PARAMETER_SPECIFIC_CATALOG</string>
<string>PARAMETER_SPECIFIC_NAME</string>
<string>PARAMETER_SPECIFIC_SCHEMA</string>
<string>PARTIAL</string>
<string>PASCAL</string>
<string>PASSWORD</string>
<string>PATH</string>
<string>PENDANT</string>
<string>PLACING</string>
<string>PLI</string>
<string>POSITION</string>
<string>POSTFIX</string>
<string>PRECISION</string>
<string>PREFIX</string>
<string>PREORDER</string>
<string>PREPARE</string>
<string>PRESERVE</string>
<string>PRIMARY</string>
<string>PRIOR</string>
<string>PRIVILEGES</string>
<string>PROCEDURAL</string>
<string>PROCEDURE</string>
<string>PUBLIC</string>
<string>READ</string>
<string>READS</string>
<string>REAL</string>
<string>RECHECK</string>
<string>RECURSIVE</string>
<string>REF</string>
<string>REFERENCES</string>
<string>REFERENCING</string>
<string>REINDEX</string>
<string>RELATIVE</string>
<string>RENAME</string>
<string>REPEATABLE</string>
<string>REPLACE</string>
<string>RESET</string>
<string>RESTRICT</string>
<string>RESULT</string>
<string>RETURN</string>
<string>RETURNED_LENGTH</string>
<string>RETURNED_OCTET_LENGTH</string>
<string>RETURNED_SQLSTATE</string>
<string>RETURNS</string>
<string>REVOKE</string>
<string>RIGHT</string>
<string>ROLE</string>
<string>ROLLBACK</string>
<string>ROLLUP</string>
<string>ROUTINE</string>
<string>ROUTINE_CATALOG</string>
<string>ROUTINE_NAME</string>
<string>ROUTINE_SCHEMA</string>
<string>ROW</string>
<string>ROWS</string>
<string>ROW_COUNT</string>
<string>RULE</string>
<string>SAVEPOINT</string>
<string>SCALE</string>
<string>SCHEMA</string>
<string>SCHEMA_NAME</string>
<string>SCOPE</string>
<string>SCROLL</string>
<string>SEARCH</string>
<string>SECOND</string>
<string>SECTION</string>
<string>SECURITY</string>
<string>SELECT</string>
<string>SELF</string>
<string>SENSITIVE</string>
<string>SEQUENCE</string>
<string>SERIALIZABLE</string>
<string>SERVER_NAME</string>
<string>SESSION</string>
<string>SESSION_USER</string>
<string>SET</string>
<string>SETOF</string>
<string>SETS</string>
<string>SHARE</string>
<string>SHOW</string>
<string>SIMILAR</string>
<string>SIMPLE</string>
<string>SIZE</string>
<string>SMALLINT</string>
<string>SOME</string>
<string>SOURCE</string>
<string>SPACE</string>
<string>SPECIFIC</string>
<string>SPECIFICTYPE</string>
<string>SPECIFIC_NAME</string>
<string>SQL</string>
<string>SQLCODE</string>
<string>SQLERROR</string>
<string>SQLEXCEPTION</string>
<string>SQLSTATE</string>
<string>SQLWARNING</string>
<string>STABLE</string>
<string>START</string>
<string>STATE</string>
<string>STATEMENT</string>
<string>STATIC</string>
<string>STATISTICS</string>
<string>STDIN</string>
<string>STDOUT</string>
<string>STORAGE</string>
<string>STRICT</string>
<string>STRUCTURE</string>
<string>STYLE</string>
<string>SUBCLASS_ORIGIN</string>
<string>SUBLIST</string>
<string>SUBSTRING</string>
<string>SUM</string>
<string>SYMMETRIC</string>
<string>SYSID</string>
<string>SYSTEM</string>
<string>SYSTEM_USER</string>
<string>TABLE</string>
<string>TABLE_NAME</string>
<string>TEMP</string>
<string>TEMPLATE</string>
<string>TEMPORARY</string>
<string>TERMINATE</string>
<string>THAN</string>
<string>THEN</string>
<string>TIME</string>
<string>TIMESTAMP</string>
<string>TIMEZONE_HOUR</string>
<string>TIMEZONE_MINUTE</string>
<string>TO</string>
<string>TOAST</string>
<string>TRAILING</string>
<string>TRANSACTION</string>
<string>TRANSACTIONS_COMMITTED</string>
<string>TRANSACTIONS_ROLLED_BACK</string>
<string>TRANSACTION_ACTIVE</string>
<string>TRANSFORM</string>
<string>TRANSFORMS</string>
<string>TRANSLATE</string>
<string>TRANSLATION</string>
<string>TREAT</string>
<string>TRIGGER</string>
<string>TRIGGER_CATALOG</string>
<string>TRIGGER_NAME</string>
<string>TRIGGER_SCHEMA</string>
<string>TRIM</string>
<string>TRUE</string>
<string>TRUNCATE</string>
<string>TRUSTED</string>
<string>TYPE</string>
<string>UNCOMMITTED</string>
<string>UNDER</string>
<string>UNENCRYPTED</string>
<string>UNION</string>
<string>UNIQUE</string>
<string>UNKNOWN</string>
<string>UNLISTEN</string>
<string>UNNAMED</string>
<string>UNNEST</string>
<string>UNTIL</string>
<string>UPDATE</string>
<string>UPPER</string>
<string>USAGE</string>
<string>USER</string>
<string>USER_DEFINED_TYPE_CATALOG</string>
<string>USER_DEFINED_TYPE_NAME</string>
<string>USER_DEFINED_TYPE_SCHEMA</string>
<string>USING</string>
<string>VACUUM</string>
<string>VALID</string>
<string>VALIDATOR</string>
<string>VALUE</string>
<string>VALUES</string>
<string>VARCHAR</string>
<string>VARIABLE</string>
<string>VARYING</string>
<string>VERBOSE</string>
<string>VERSION</string>
<string>VIEW</string>
<string>VOLATILE</string>
<string>WHEN</string>
<string>WHENEVER</string>
<string>WHERE</string>
<string>WITH</string>
<string>WITHOUT</string>
<string>WORK</string>
<string>WRITE</string>
<string>YEAR</string>
<string>ZONE</string>

	</array>

	<key>keywordsCaseInsensitive</key>
	<true/>

	<key>multiLineComments</key>
	<array>
		<string>/*</string>
		<string>*/</string>
	</array>

	<key>multiLineStrings</key>
	<array>
	</array>

	<key>predefined</key>
	<array>
	</array>

	<key>predefinedDelim</key>
	<array>
	</array>

	<key>singleLineComments</key>
	<array>
		<string>--</string>
	</array>

	<key>singleLineStrings</key>
	<array>
		<string>"</string>
		<string>"</string>
		<string>'</string>
		<string>'</string>
	</array>

	<key>tags</key>
	<array>
	</array>

	<key>variablesDelim</key>
	<array>
	</array>

	<key>variablesDelimPartOfVar</key>
	<false/>

	<key>isXMLbased</key>
	<false/>

	<key>indentionBlocks</key>
	<array>
	</array>
</dict>
</plist>
