<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesDelim</key>
	<array/>
	<key>blocks</key>
	<array/>
	<key>charStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
	</array>
	<key>coloringOnlyInBlocksAndTags</key>
	<false/>
	<key>keywords</key>
	<array>
		<string>fileprivate</string>
		<string>throws</string>
		<string>throw</string>
		<string>catch</string>
		<string>try</string>
		<string>class</string>
		<string>deinit</string>
		<string>enum</string>
		<string>extension</string>
		<string>get</string>
		<string>prefix</string>
		<string>weak</string>
		<string>unowned</string>
		<string>Type</string>
		<string>set</string>
		<string>right</string>
		<string>required</string>
		<string>Protocol</string>
		<string>precedence</string>
		<string>override</string>
		<string>postfix</string>
		<string>optional</string>
		<string>nonmutating</string>
		<string>none</string>
		<string>mutating</string>
		<string>left</string>
		<string>lazy</string>
		<string>inout</string>
		<string>@escaping</string>
		<string>infix</string>
		<string>@autoclosure</string>
		<string>indirect</string>
		<string>func</string>
		<string>import</string>
		<string>init</string>
		<string>@discardableResult</string>
		<string>internal</string>
		<string>let</string>
		<string>operator</string>
		<string>private</string>
		<string>protocol</string>
		<string>public</string>
		<string>static</string>
		<string>struct</string>
		<string>subscript</string>
		<string>typealias</string>
		<string>break</string>
		<string>case</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>else</string>
		<string>fallthrough</string>
		<string>for</string>
		<string>if</string>
		<string>in</string>
		<string>return</string>
		<string>switch</string>
		<string>guard</string>
		<string>#available</string>
		<string>where</string>
		<string>while</string>
		<string>repeat</string>
		<string>var</string>
		<string>as</string>
		<string>dynamicType</string>
		<string>false</string>
		<string>is</string>
		<string>nil</string>
		<string>self</string>
		<string>Self</string>
		<string>super</string>
		<string>true</string>
		<string>__COLUMN__</string>
		<string>__FILE__</string>
		<string>__FUNCTION__</string>
		<string>__LINE__</string>
		<string>associativity</string>
		<string>convenience</string>
		<string>dynamic</string>
		<string>didSet</string>
		<string>final</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<false/>
	<key>multiLineComments</key>
	<array>
		<string>/*</string>
		<string>*/</string>
	</array>
	<key>multiLineStrings</key>
	<array>
		<string>&quot;&quot;&quot;</string>
		<string>&quot;&quot;&quot;</string>
	</array>
	<key>predefined</key>
	<array>
		<string>NSToolbarItem</string>
		<string>UIButton</string>
		<string>NSPopUpButton</string>
		<string>EnvironmentValues</string>
		<string>Transaction</string>
		<string>RotationGesture</string>
		<string>GestureStateGesture</string>
		<string>GestureMask</string>
		<string>GestureState</string>
		<string>AnyGesture</string>
		<string>Gesture</string>
		<string>ExclusiveGesture</string>
		<string>SimultaneousGesture</string>
		<string>SequenceGesture</string>
		<string>MagnificationGesture</string>
		<string>DragGesture</string>
		<string>LongPressGesture</string>
		<string>TabGesture</string>
		<string>LocalizedStringKey</string>
		<string>PrefferenceKey</string>
		<string>Environment</string>
		<string>DynamicProperty</string>
		<string>FetchedResult</string>
		<string>FetchRequest</string>
		<string>EnvironmentObject</string>
		<string>ObservedObject</string>
		<string>State</string>
		<string>Binding</string>
		<string>NSButton</string>
		<string>Button</string>
		<string>TextField</string>
		<string>View</string>
		<string>SecureField</string>
		<string>Font</string>
		<string>Toggle</string>
		<string>ViewModifier</string>
		<string>Axis</string>
		<string>TabView</string>
		<string>TupleView</string>
		<string>RoundedRectangle</string>
		<string>TransformedShape</string>
		<string>RoundedCornerStyle</string>
		<string>UnitPoint</string>
		<string>VectorArithmetic</string>
		<string>ProjectionTransform</string>
		<string>CoordinateSpace</string>
		<string>Anchor</string>
		<string>Angle</string>
		<string>GeometryEffect</string>
		<string>GeometryReader</string>
		<string>GeometryProxy</string>
		<string>StrokeStyle</string>
		<string>SeparatorShapeStyle</string>
		<string>SelectionShapeStyle</string>
		<string>ShapeStyle</string>
		<string>FillStyle</string>
		<string>ForegroundStyle</string>
		<string>RadialGradient</string>
		<string>AngularGradient</string>
		<string>LinearGradient</string>
		<string>Gradient</string>
		<string>ImagePaint</string>
		<string>Color</string>
		<string>OffsetShape</string>
		<string>RotatedShape</string>
		<string>ScaledShape</string>
		<string>InserrableShape</string>
		<string>Path</string>
		<string>Capsule</string>
		<string>Ellipse</string>
		<string>Circle</string>
		<string>Edge</string>
		<string>Rectangle</string>
		<string>AnyTransition</string>
		<string>EmptyAnimatableData</string>
		<string>AnimatablePair</string>
		<string>withAnimation</string>
		<string>AnimatableModifier</string>
		<string>Animatable</string>
		<string>Animation</string>
		<string>AnyView</string>
		<string>EquatableView</string>
		<string>EmptyView</string>
		<string>ActionSheet</string>
		<string>Alert</string>
		<string>VSplitView</string>
		<string>HSplitView</string>
		<string>NavigationView</string>
		<string>Divider</string>
		<string>Spacer</string>
		<string>Section</string>
		<string>GroupBox</string>
		<string>Group</string>
		<string>Form</string>
		<string>Identifiable</string>
		<string>DynamicViewContent</string>
		<string>ScrollView</string>
		<string>ForEach</string>
		<string>List</string>
		<string>ZStack</string>
		<string>VStack</string>
		<string>HStack</string>
		<string>ViewBuilder</string>
		<string>Stepper</string>
		<string>Slider</string>
		<string>DatePicker</string>
		<string>Picker</string>
		<string>PasteButton</string>
		<string>EditButton</string>
		<string>MenuButton</string>
		<string>NavigationLink</string>
		<string>Image</string>
		<string>Text</string>
		<string>NSApplication</string>
		<string>UIApplication</string>
		<string>NSApplicationDelegate</string>
		<string>UIApplicationDelegate</string>
		<string>ViewController</string>
		<string>SegmentedControl</string>
		<string>WKWebView</string>
		<string>WKNavigation</string>
		<string>NSLocalizedString</string>
		<string>NSLog</string>
		<string>CGBitmapContex</string>
		<string>CGColor</string>
		<string>CGColorSpace</string>
		<string>CGContext</string>
		<string>CGDataConsumer</string>
		<string>CGDataProvider</string>
		<string>CGFloat</string>
		<string>CGFont</string>
		<string>CGFunction</string>
		<string>CGGradient</string>
		<string>CGImage</string>
		<string>CGLayer</string>
		<string>CGPath</string>
		<string>CGPattern</string>
		<string>IBAction</string>
		<string>AffineTransform</string>
		<string>AppleEventDescriptor</string>
		<string>AppleEventManager</string>
		<string>AppleScript</string>
		<string>Archiver</string>
		<string>AssertionHandler</string>
		<string>AttributedString</string>
		<string>AutoreleasePool</string>
		<string>BezierPath</string>
		<string>BlockOperation</string>
		<string>Bundle</string>
		<string>Cache</string>
		<string>CachedURLResponse</string>
		<string>Calendar</string>
		<string>CharacterSet</string>
		<string>ClassDescription</string>
		<string>CloneCommand</string>
		<string>CloseCommand</string>
		<string>Coder</string>
		<string>Color</string>
		<string>ComparisonPredicate</string>
		<string>CompoundPredicate</string>
		<string>Condition</string>
		<string>ConditionLock</string>
		<string>Connection</string>
		<string>CountCommand</string>
		<string>CountedSet</string>
		<string>CreateCommand</string>
		<string>Data</string>
		<string>DataDetector</string>
		<string>Date</string>
		<string>DateComponents</string>
		<string>DateFormatter</string>
		<string>DecimalNumber</string>
		<string>DecimalNumberHandler</string>
		<string>DeleteCommand</string>
		<string>Deserializer</string>
		<string>DirectoryEnumerator</string>
		<string>DistantObject</string>
		<string>DistantObjectRequest</string>
		<string>DistributedLock</string>
		<string>DistributedNotificationCenter</string>
		<string>Enumerator</string>
		<string>Error</string>
		<string>Exception</string>
		<string>ExistsCommand</string>
		<string>Expression</string>
		<string>FileCoordinator</string>
		<string>FileHandle</string>
		<string>FileManager</string>
		<string>FileWrapper</string>
		<string>Formatter</string>
		<string>GarbageCollector</string>
		<string>GetCommand</string>
		<string>HashTable</string>
		<string>Host</string>
		<string>HTTPCookie</string>
		<string>HTTPCookieStorage</string>
		<string>HTTPURLResponse</string>
		<string>NSImage</string>
		<string>UIImage</string>
		<string>IndexPath</string>
		<string>IndexSet</string>
		<string>IndexSpecifier</string>
		<string>InputStream</string>
		<string>Integer</string>
		<string>Invocation</string>
		<string>InvocationOperation</string>
		<string>KeyedArchiver</string>
		<string>KeyedUnarchiver</string>
		<string>LinguisticTagger</string>
		<string>Locale</string>
		<string>Lock</string>
		<string>Log</string>
		<string>LogicalTest</string>
		<string>MachBootstrapServer</string>
		<string>MachPort</string>
		<string>MapTable</string>
		<string>MessagePort</string>
		<string>MessagePortNameServer</string>
		<string>MetadataItem</string>
		<string>MetadataQuery</string>
		<string>MetadataQueryAttributeValueTuple</string>
		<string>MetadataQueryResultGroup</string>
		<string>MethodSignature</string>
		<string>MiddleSpecifier</string>
		<string>MoveCommand</string>
		<string>MutableArray</string>
		<string>MutableAttributedString</string>
		<string>MutableCharacterSet</string>
		<string>MutableData</string>
		<string>MutableDictionary</string>
		<string>MutableIndexSet</string>
		<string>MutableOrderedSet</string>
		<string>MutableSet</string>
		<string>MutableString</string>
		<string>MutableURLRequest</string>
		<string>NameSpecifier</string>
		<string>NetService</string>
		<string>NetServiceBrowser</string>
		<string>Notification</string>
		<string>NotificationQueue</string>
		<string>Null</string>
		<string>Number</string>
		<string>NumberFormatter</string>
		<string>Object</string>
		<string>Operation</string>
		<string>OperationQueue</string>
		<string>OrderedSet</string>
		<string>Orthography</string>
		<string>OutputStream</string>
		<string>Pipe</string>
		<string>PointerArray</string>
		<string>PointerFunctions</string>
		<string>Port</string>
		<string>PortCoder</string>
		<string>PortMessage</string>
		<string>PortNameServer</string>
		<string>PositionalSpecifier</string>
		<string>Predicate</string>
		<string>ProcessInfo</string>
		<string>PropertyListSerialization</string>
		<string>PropertySpecifier</string>
		<string>ProtocolChecker</string>
		<string>Proxy</string>
		<string>QuitCommand</string>
		<string>RandomSpecifier</string>
		<string>RangeSpecifier</string>
		<string>RecursiveLock</string>
		<string>RegularExpression</string>
		<string>RelativeSpecifier</string>
		<string>RunLoop</string>
		<string>Scanner</string>
		<string>ScriptClassDescription</string>
		<string>ScriptCoercionHandler</string>
		<string>ScriptCommand</string>
		<string>ScriptCommandDescription</string>
		<string>ScriptExecutionContext</string>
		<string>ScriptObjectSpecifier</string>
		<string>ScriptSuiteRegistry</string>
		<string>ScriptWhoseTest</string>
		<string>Serializer</string>
		<string>SetCommand</string>
		<string>SocketPort</string>
		<string>SocketPortNameServer</string>
		<string>SortDescriptor</string>
		<string>SpecifierTest</string>
		<string>SpellServer</string>
		<string>Stream</string>
		<string>Task</string>
		<string>TextCheckingResult</string>
		<string>Thread</string>
		<string>Timer</string>
		<string>TimeZone</string>
		<string>UbiquitousKeyValueStore</string>
		<string>Unarchiver</string>
		<string>UndoManager</string>
		<string>UniqueIDSpecifier</string>
		<string>URL</string>
		<string>URLAuthenticationChallenge</string>
		<string>URLCache</string>
		<string>URLConnection</string>
		<string>URLCredential</string>
		<string>URLCredentialStorage</string>
		<string>URLDownload</string>
		<string>URLHandle</string>
		<string>URLProtectionSpace</string>
		<string>URLProtocol</string>
		<string>URLRequest</string>
		<string>URLResponse</string>
		<string>Value</string>
		<string>ValueTransformer</string>
		<string>WhoseSpecifier</string>
		<string>XMLDocument</string>
		<string>XMLDTD</string>
		<string>XMLDTDNode</string>
		<string>XMLElement</string>
		<string>XMLNode</string>
		<string>XMLParser</string>
		<string>@objc</string>
		<string>@IBOutlet</string>
		<string>@IBAction</string>
		<string>#selector</string>
		<string>NotificationCenter</string>
		<string>DispatchQueue</string>
		<string>CGRect</string>
		<string>UserDefaults</string>
		<string>Set</string>
		<string>type</string>
		<string>CustomReflectable</string>
		<string>AnyClass</string>
		<string>Any</string>
		<string>AnyObject</string>
		<string>unsafeBitCast</string>
		<string>unsafeDowncast</string>
		<string>withoutActuallyEscaping</string>
		<string>numericCast</string>
		<string>CustomPlaygroundDisplayConvertible</string>
		<string>WritableKeyPath</string>
		<string>ReferenceWritableKeyPath</string>
		<string>UnsafeMutableBufferPointer</string>
		<string>withUnsafePointer</string>
		<string>withUnsafeMutablePointer</string>
		<string>swap</string>
		<string>withExtendedLifetime</string>
		<string>Unmanaged</string>
		<string>MemoryLayout</string>
		<string>withUnsafeMutableBytes</string>
		<string>withUnsafeBytes</string>
		<string>UnsafeMutableRawBufferPointer</string>
		<string>UnsafeRawBufferPointer</string>
		<string>UnsafeMutableRawPointer</string>
		<string>UnsafeRawPointer</string>
		<string>UnsafeBufferPointer</string>
		<string>UnsafeMutablePointer</string>
		<string>UnsafePointer</string>
		<string>_AppendKeyPath</string>
		<string>AnyKeyPath</string>
		<string>PartialKeyPath</string>
		<string>KeyPath</string>
		<string>CustomLeafReflectable</string>
		<string>assert</string>
		<string>assertionFailure</string>
		<string>precondition</string>
		<string>preconditionFailure</string>
		<string>Never</string>
		<string>ObjectIdentifier</string>
		<string>Mirror</string>
		<string>fatalError</string>
		<string>dump</string>
		<string>debugPrint</string>
		<string>...</string>
		<string>..&lt;</string>
		<string>Array</string>
		<string>Dictionary</string>
		<string>Void</string>
		<string>_</string>
		<string>Int</string>
		<string>print</string>
		<string>Int64</string>
		<string>Int16</string>
		<string>Int8</string>
		<string>Int32</string>
		<string>Float</string>
		<string>UInt</string>
		<string>UInt32</string>
		<string>UInt8</string>
		<string>UInt16</string>
		<string>UInt64</string>
		<string>SIMD</string>
		<string>min</string>
		<string>abs</string>
		<string>StaticString</string>
		<string>EmptyCollection</string>
		<string>sequence</string>
		<string>zip</string>
		<string>KeyValuePairs</string>
		<string>CollectionOfOne</string>
		<string>repeatElement</string>
		<string>stride</string>
		<string>Unicode</string>
		<string>max</string>
		<string>SIMDMask</string>
		<string>ExpressibleByStringLiteral</string>
		<string>DefaultStringInterpolation</string>
		<string>TextOutputStreamable</string>
		<string>TextOutputStream</string>
		<string>readLine</string>
		<string>CommanLine</string>
		<string>StringInterpolationProtocol</string>
		<string>ExpressibleByStringInterpolation</string>
		<string>ExpressibleByGraphemeClusterLiteral</string>
		<string>ExpressibleByNilLiteral</string>
		<string>ExpressibleByBooleanLiteral</string>
		<string>ExpressibleByFloatLiteral</string>
		<string>ExpressibleByIntegerLiteral</string>
		<string>ExpressibleByDictionaryLiteral</string>
		<string>ExpressibleByArrayLiteral</string>
		<string>SIMDStorage</string>
		<string>SIMDScalar</string>
		<string>SIMD64</string>
		<string>SIMD32</string>
		<string>SIMD16</string>
		<string>SIMD8</string>
		<string>SIMD4</string>
		<string>SIMD3</string>
		<string>SIMD2</string>
		<string>UnsignedInteger</string>
		<string>BinaryFloatingPoint</string>
		<string>FloatingPoint</string>
		<string>Float64</string>
		<string>Float32</string>
		<string>Float80</string>
		<string>SignedInteger</string>
		<string>FixedWidthInteger</string>
		<string>BinaryInteger</string>
		<string>Strideable</string>
		<string>SignedNumeric</string>
		<string>Numeric</string>
		<string>AdditiveArithmetic</string>
		<string>Double</string>
		<string>Tuples</string>
		<string>Optional</string>
		<string>Character</string>
		<string>String</string>
		<string>Bool</string>
		<string>Comparable</string>
		<string>RandomNumberGenerator</string>
		<string>SystemRandomNumberGenerator</string>
		<string>Result</string>
		<string>Error</string>
		<string>ClosedRange</string>
		<string>Range</string>
		<string>Equatable</string>
		<string>Hasher</string>
		<string>RawPresentable</string>
		<string>DecodingError</string>
		<string>SingleValueDecodingContainer</string>
		<string>UnkeyedDecodingContainer</string>
		<string>KeyedDecodingContainerProtocol</string>
		<string>KeyedDecodingContainer</string>
		<string>UnkeyedEncodingContainer</string>
		<string>KeyedEncodingContainerProtocol</string>
		<string>KeyedEncodingContainer</string>
		<string>SingleValueEncodingContainer</string>
		<string>EncodingError</string>
		<string>Decoder</string>
		<string>Encoder</string>
		<string>CodingUserInfoKey</string>
		<string>CodingKey</string>
		<string>Decodable</string>
		<string>Encodable</string>
		<string>Codable</string>
		<string>CaseIterable</string>
		<string>CustomDebugStringConvertible</string>
		<string>LosslessStringConvertible</string>
		<string>CustomStringConvertible</string>
		<string>Hashable</string>
		<string>Collection</string>
		<string>OptionSet</string>
	</array>
	<key>predefinedDelim</key>
	<array/>
	<key>singleLineComments</key>
	<array>
		<string>//</string>
	</array>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
	</array>
	<key>tags</key>
	<array/>
	<key>variablesDelim</key>
	<array/>
	<key>variablesDelimPartOfVar</key>
	<false/>
	<key>isXMLbased</key>
	<false/>
	<key>indentionBlocks</key>
	<array/>
</dict>
</plist>
