build-appstore
Source/build
Source/Tincta.xcodeproj/project.xcworkspace/xcuserdata
Source/Tincta.xcodeproj/project.xcworkspace
Source/Tincta.xcodeproj/xcuserdata
AppCenterConfig.h
.DS_Store

SentryConfig.h
