<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesDelim</key>
	<array/>
	<key>blocks</key>
	<array/>
	<key>charStrings</key>
	<array>
		<string>&apos;</string>
		<string>&apos;</string>
	</array>
	<key>coloringOnlyInBlocksAndTags</key>
	<false/>
	<key>keywords</key>
	<array>
		<string>and</string>
		<string>and_eq</string>
		<string>alignof</string>
		<string>asm</string>
		<string>auto</string>
		<string>bitand</string>
		<string>bitor</string>
		<string>bool</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>char16_t</string>
		<string>char32_t</string>
		<string>class</string>
		<string>compl</string>
		<string>const</string>
		<string>constexpr</string>
		<string>const_cast</string>
		<string>continue</string>
		<string>decltype</string>
		<string>default</string>
		<string>delete</string>
		<string>do</string>
		<string>double</string>
		<string>dynamic_cast</string>
		<string>else</string>
		<string>enum</string>
		<string>explicit</string>
		<string>export</string>
		<string>extern</string>
		<string>false</string>
		<string>float</string>
		<string>for</string>
		<string>friend</string>
		<string>goto</string>
		<string>if</string>
		<string>inline</string>
		<string>int</string>
		<string>long</string>
		<string>mutable</string>
		<string>namespace</string>
		<string>new</string>
		<string>noexcept</string>
		<string>not</string>
		<string>not_eq</string>
		<string>nullptr</string>
		<string>operator</string>
		<string>or</string>
		<string>or_eq</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>register</string>
		<string>reinterpret_cast</string>
		<string>return</string>
		<string>short</string>
		<string>signed</string>
		<string>sizeof</string>
		<string>static</string>
		<string>static_assert</string>
		<string>static_cast</string>
		<string>struct</string>
		<string>switch</string>
		<string>template</string>
		<string>this</string>
		<string>thread_local</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>typedef</string>
		<string>typeid</string>
		<string>typename</string>
		<string>union</string>
		<string>using</string>
		<string>unsigned</string>
		<string>virtual</string>
		<string>void</string>
		<string>volatile</string>
		<string>wchar_t</string>
		<string>while</string>
		<string>xor</string>
		<string>xor_eq</string>
		<string>NULL</string>
		<string>#include</string>
		<string>#define</string>
		<string>#error</string>
		<string>#warning</string>
		<string>#ifdef</string>
		<string>#ifndef</string>
		<string>#endif</string>
		<string>#else</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<false/>
	<key>multiLineComments</key>
	<array>
		<string>/*</string>
		<string>*/</string>
	</array>
	<key>multiLineStrings</key>
	<array/>
	<key>predefined</key>
	<array/>
	<key>predefinedDelim</key>
	<array>
		<string>#define</string>
	</array>
	<key>singleLineComments</key>
	<array>
		<string>//</string>
	</array>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
	</array>
	<key>tags</key>
	<array/>
	<key>variablesDelim</key>
	<array/>
	<key>variablesDelimPartOfVar</key>
	<false/>
	<key>isXMLbased</key>
	<false/>
	<key>indentionBlocks</key>
	<array/>
</dict>
</plist>
