<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesDelim</key>
	<array>
		<string>=</string>
	</array>
	<key>blocks</key>
	<array>
		<string>&lt;script&gt;</string>
		<string>&lt;/script&gt;</string>
		<string>&lt;SCRIPT&gt;</string>
		<string>&lt;/SCRIPT&gt;</string>
		<string>&lt;SCRIPT type=&quot;text/javascript&quot;&gt;</string>
		<string>&lt;/SCRIPT&gt;</string>
		<string>&lt;script type=&quot;text/javascript&quot;&gt;</string>
		<string>&lt;/script&gt;</string>
		<string>&lt;script language=&quot;javascript&quot;&gt;</string>
		<string>&lt;/script&gt;</string>
		<string>&lt;script language=&quot;JavaScript&quot;&gt;</string>
		<string>&lt;/script&gt;</string>
		<string>&lt;?php</string>
		<string>?&gt;</string>
	</array>
	<key>charStrings</key>
	<array/>
	<key>coloringOnlyInBlocksAndTags</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>break</string>
		<string>continue</string>
		<string>do</string>
		<string>for</string>
		<string>import</string>
		<string>new</string>
		<string>this</string>
		<string>void</string>
		<string>case</string>
		<string>default</string>
		<string>else</string>
		<string>function</string>
		<string>in</string>
		<string>return</string>
		<string>typeof</string>
		<string>while</string>
		<string>comment</string>
		<string>delete</string>
		<string>export</string>
		<string>if</string>
		<string>label</string>
		<string>switch</string>
		<string>with</string>
		<string>abstract</string>
		<string>implements</string>
		<string>protected</string>
		<string>boolean</string>
		<string>instanceOf</string>
		<string>public</string>
		<string>byte</string>
		<string>int</string>
		<string>short</string>
		<string>char</string>
		<string>interface</string>
		<string>static</string>
		<string>double</string>
		<string>long</string>
		<string>synchronized</string>
		<string>false</string>
		<string>native</string>
		<string>throws</string>
		<string>final</string>
		<string>null</string>
		<string>transient</string>
		<string>float</string>
		<string>package</string>
		<string>true</string>
		<string>goto</string>
		<string>private</string>
		<string>catch</string>
		<string>enum</string>
		<string>throw</string>
		<string>class</string>
		<string>extends</string>
		<string>try</string>
		<string>const</string>
		<string>finally</string>
		<string>debugger</string>
		<string>super</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<true/>
	<key>multiLineComments</key>
	<array>
		<string>&lt;!--</string>
		<string>--&gt;</string>
	</array>
	<key>multiLineStrings</key>
	<array/>
	<key>predefined</key>
	<array/>
	<key>predefinedDelim</key>
	<array/>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
		<string>&apos;</string>
		<string>&apos;</string>
	</array>
	<key>tags</key>
	<array>
		<string>&lt;</string>
		<string>&gt;</string>
	</array>
	<key>variablesDelim</key>
	<array>
		<string>var</string>
	</array>
	<key>variablesDelimPartOfVar</key>
	<false/>
	<key>isXMLbased</key>
	<true/>
	<key>indentionBlocks</key>
	<array/>
</dict>
</plist>
