<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesDelim</key>
	<array/>
	<key>blocks</key>
	<array/>
	<key>charStrings</key>
	<array/>
	<key>coloringOnlyInBlocksAndTags</key>
	<false/>
	<key>keywords</key>
	<array>
		<string>and</string>
		<string>break</string>
		<string>do</string>
		<string>else</string>
		<string>elseif</string>
		<string>end</string>
		<string>false</string>
		<string>for</string>
		<string>function</string>
		<string>if</string>
		<string>in</string>
		<string>local</string>
		<string>nil</string>
		<string>not</string>
		<string>or</string>
		<string>repeat</string>
		<string>return</string>
		<string>then</string>
		<string>true</string>
		<string>until</string>
		<string>while</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<false/>
	<key>multiLineComments</key>
	<array>
		<string>--[[</string>
		<string>]]</string>
	</array>
	<key>multiLineStrings</key>
	<array/>
	<key>predefined</key>
	<array>
		<string>assert</string>
		<string>collectgarbage</string>
		<string>coroutine</string>
		<string>debug</string>
		<string>dofile</string>
		<string>error</string>
		<string>file</string>
		<string>getfenv</string>
		<string>getmetatable</string>
		<string>io</string>
		<string>ipairs</string>
		<string>load</string>
		<string>loadfile</string>
		<string>loadstring</string>
		<string>math</string>
		<string>module</string>
		<string>next</string>
		<string>os</string>
		<string>package</string>
		<string>pairs</string>
		<string>pcall</string>
		<string>print</string>
		<string>rawequal</string>
		<string>rawget</string>
		<string>rawset</string>
		<string>require</string>
		<string>select</string>
		<string>self</string>
		<string>setfenv</string>
		<string>setmetatable</string>
		<string>string</string>
		<string>table</string>
		<string>tonumber</string>
		<string>tostring</string>
		<string>type</string>
		<string>unpack</string>
		<string>xpcall</string>
		<string>_G</string>
		<string>_VERSION</string>
	</array>
	<key>predefinedDelim</key>
	<array/>
	<key>singleLineComments</key>
	<array>
		<string>--</string>
	</array>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
		<string>&apos;</string>
		<string>&apos;</string>
	</array>
	<key>tags</key>
	<array/>
	<key>variablesDelim</key>
	<array/>
	<key>variablesDelimPartOfVar</key>
	<false/>
	<key>isXMLbased</key>
	<false/>
	<key>indentionBlocks</key>
	<array/>
</dict>
</plist>
