<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesDelim</key>
	<array/>
	<key>blocks</key>
	<array/>
	<key>charStrings</key>
	<array/>
	<key>coloringOnlyInBlocksAndTags</key>
	<false/>
	<key>keywords</key>
	<array>
		<string>absolute</string>
		<string>and</string>
		<string>array</string>
		<string>as</string>
		<string>asm</string>
		<string>begin</string>
		<string>case</string>
		<string>class</string>
		<string>const</string>
		<string>constructor</string>
		<string>destructor</string>
		<string>dispinterface</string>
		<string>dispose</string>
		<string>div</string>
		<string>do</string>
		<string>downto</string>
		<string>else</string>
		<string>except</string>
		<string>exit</string>
		<string>exports</string>
		<string>false</string>
		<string>file</string>
		<string>finalization</string>
		<string>finally</string>
		<string>for</string>
		<string>function</string>
		<string>goto</string>
		<string>if</string>
		<string>implementation</string>
		<string>in</string>
		<string>inherited</string>
		<string>initialization</string>
		<string>inline</string>
		<string>interface</string>
		<string>is</string>
		<string>label</string>
		<string>library</string>
		<string>mod</string>
		<string>new</string>
		<string>nil</string>
		<string>not</string>
		<string>object</string>
		<string>of</string>
		<string>on</string>
		<string>operator</string>
		<string>or</string>
		<string>out</string>
		<string>packed</string>
		<string>procedure</string>
		<string>program</string>
		<string>property</string>
		<string>raise</string>
		<string>record</string>
		<string>reintroduce</string>
		<string>repeat</string>
		<string>resourcestring</string>
		<string>self</string>
		<string>set</string>
		<string>shl</string>
		<string>shr</string>
		<string>string</string>
		<string>then</string>
		<string>threadvar</string>
		<string>to</string>
		<string>true</string>
		<string>try</string>
		<string>type</string>
		<string>unit</string>
		<string>until</string>
		<string>uses</string>
		<string>var</string>
		<string>while</string>
		<string>with</string>
		<string>xor</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<true/>
	<key>multiLineComments</key>
	<array>
		<string>{</string>
		<string>}</string>
	</array>
	<key>multiLineStrings</key>
	<array/>
	<key>predefined</key>
	<array/>
	<key>predefinedDelim</key>
	<array/>
	<key>singleLineComments</key>
	<array>
		<string>//</string>
	</array>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
		<string>&apos;</string>
		<string>&apos;</string>
	</array>
	<key>tags</key>
	<array/>
	<key>variablesDelim</key>
	<array/>
	<key>variablesDelimPartOfVar</key>
	<false/>
	<key>isXMLbased</key>
	<false/>
	<key>indentionBlocks</key>
	<array/>
</dict>
</plist>
