<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributesDelim</key>
	<array/>
	<key>blocks</key>
	<array/>
	<key>charStrings</key>
	<array/>
	<key>coloringOnlyInBlocksAndTags</key>
	<false/>
	<key>keywords</key>
	<array>
		<string>active</string>
		<string>assert</string>
		<string>atomic</string>
		<string>bit</string>
		<string>bool</string>
		<string>break</string>
		<string>byte</string>
		<string>chan</string>
		<string>d_step</string>
		<string>D_proctype</string>
		<string>do</string>
		<string>else</string>
		<string>empty</string>
		<string>enabled</string>
		<string>eval</string>
		<string>false</string>
		<string>fi</string>
		<string>for</string>
		<string>full</string>
		<string>goto</string>
		<string>hidden</string>
		<string>if</string>
		<string>init</string>
		<string>inline</string>
		<string>int</string>
		<string>len</string>
		<string>local</string>
		<string>ltl</string>
		<string>mtype</string>
		<string>nempty</string>
		<string>never</string>
		<string>nfull</string>
		<string>notrace</string>
		<string>np_</string>
		<string>od</string>
		<string>of</string>
		<string>pc_value</string>
		<string>printf</string>
		<string>priority</string>
		<string>proctype</string>
		<string>provided</string>
		<string>run</string>
		<string>short</string>
		<string>skip</string>
		<string>timeout</string>
		<string>trace</string>
		<string>true</string>
		<string>typedef</string>
		<string>unless</string>
		<string>unsigned</string>
		<string>xr</string>
		<string>xs</string>
		<string>_last</string>
		<string>_nr_pr</string>
		<string>_pid</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<false/>
	<key>multiLineComments</key>
	<array>
		<string>/*</string>
		<string>*/</string>
	</array>
	<key>multiLineStrings</key>
	<array/>
	<key>predefined</key>
	<array>
		<string>::</string>
	</array>
	<key>predefinedDelim</key>
	<array/>
	<key>singleLineComments</key>
	<array/>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
		<string>&apos;</string>
		<string>&apos;</string>
	</array>
	<key>tags</key>
	<array/>
	<key>variablesDelim</key>
	<array/>
	<key>variablesDelimPartOfVar</key>
	<false/>
	<key>isXMLbased</key>
	<false/>
	<key>indentionBlocks</key>
	<array/>
</dict>
</plist>
